@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

// Globals
$body-font-family: 'Roboto', sans-serif;
$border-radius-root: 6px;
$font-size-root: 17px;


// Home
$font-size-hometext: 25px;


// Leads
$font-size-helpText: 20px;
$padding-helpText: 15px;